body {
  height: 100%;
  font-family: 'Telex', sans-serif;
  position: relative;

  background-image: url('/images/icat6hack-bg-fullcolor.png');
  background-position: 50%;
  background-attachment: fixed;
  background-size: cover;
}

.top-section {
  position: relative;
  z-index: 1;
}

.other-sections {
  background-color: #428bca;
  position: relative;
  z-index: 2;
}

.odd.wrapper {
  color: #fff;
  background-color: #428bca;
}

.odd.wrapper thead tr td {
  background-color: #357ebd;
}

.even.wrapper {
  background-color: white;
}

.even.wrapper {
  border-color: #357ebd;
  border-width: 2px 0;
  border-style: solid;
}

.wrapper {
  padding-top: 2em;
  padding-bottom: 2em;
}

.top-section {
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 0;
  box-sizing: content-box;
}

.top-section .btn-primary {
  font-size: 2em;
  margin-top: 1em;
}

.temporary-navbar {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 50px;
  color: white;
  background-color: #c9302c;
  border-color: #ac2925;
  border-width: 2px 0;
  border-style: solid;
}

.main-navbar {
  opacity: 0;

  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.main-navbar.affix {
  opacity: 1;
  top: 0px;
  width: 100%;
  z-index: 2;

  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.navbar-brand {
  display: none;
}

.affix .navbar-brand {
  display: inline;
}

.navbar.affix + .wrapper section {
  padding-top: 72px;
}

.top-section h1 {
  font-size: 50px;
  font-weight: normal;
}

.top-section h2 {
  font-size: 20px;
}

.top-section img {
  vertical-align: baseline;
  height: 36px;
}

.table {
  font-size: 1.2em;
}

.table h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.footer {
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
}

@media (min-width: 992px) {
  .temporary-navbar {
    display: none;
  }

  .top-section h1 {
    font-size: 140px;
  }

  .top-section h2 {
    font-size: 30px;
  }

  .top-section img {
    vertical-align: baseline;
    height: 108px;
  }

  .navbar {
    border-radius: 0;
    opacity: 1;
  }
}