body {
  height: 100%;
  font-family: 'Telex', sans-serif;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  
  /* Offset height be the footer height */
  margin: 0 auto -100px;
}

#footer {
  height: 100px;
  clear: both;
}

.presenter-start {
    clear: both;
    height: 0px;
    overflow: hidden;
}

.presenter-start + p {
    margin: 0 auto 1em auto;

    border-radius: 100px;
    overflow: hidden;
    
    width: 200px;
    height:200px;
    text-align: center;
    line-height: 200px;
}

.presenter-start + p > img {
}

/* Main message and support button */
.jumbotron {
  text-align: center;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting front page content */
.frontmatter {
  margin: 60px 0;
}
.frontmatter p + h4 {
  margin-top: 28px;
}

/* Sponsors in the footer */
#sponsors p {
  text-align: center;
}

#sponsors p:first-child {
  text-align: left;
}

.sponsor.visible {
  margin: 1.5em auto;
  font-weight: bold;
  display: inline-block;
}

.sponsor.visible.logo {
  min-width: 320px;
}

.sponsor.visible.name {
  margin: 1em;
  display: block;
}

.sponsor.tangible {
  margin: 1em;
  display: inline-block;
}

@media only screen and (min-width: 480px) {
  .presenter-start + p {
      float: left;
      margin: 0 1em 1em 0;
  }
}
