<!DOCTYPE html>
<html lang="en">
<head>
  {% include header.partial %}
</head>

<body>
  <div class="container-narrow">
  
    {% include sitenav.partial %}
    
    <hr>
    
    <div class="jumbotron">
      <h1>Mobile Appropriate Technology<br>Workshop and Hackathon</h1>
      <p class="lead">Expanding the international conversation on the place of mobile tech in appropriate technology projects.</p>
      <a class="btn btn-large btn-success" href="http://igg.me/p/270632?a=1716373">Support the Event!</a>
    </div>
    
    <hr>

    {{ content }}
    
  </div>
</body>
</html>
